/*----------------------王顺的代码-------------------------------*/
body {
    background:#ECECEC;
}
    /*body div h3 {
        color:#808080;
        margin:0;
    }
    body div span {
        font-family:微软雅黑;
        color:#808080;
    }
    body div textarea {
        margin:0;
        color:#808080;
        font-family:微软雅黑;
        font-size:medium;
        resize:none;
    }
    body div input {
        color:#808080;
    }*/


/***************************************编辑******************************************/
#projEdit,#projSave{
    float:right;
    height:25px;
    border:1px solid #0D4F87;
    background:#1D6BAE;
    color:white;
    border-radius:3px;
    width:59px;
    text-align:center;
    padding-top:8px;
}
    #projEdit:hover,#projSave:hover {
        opacity:0.8;
    }
/***************************************编辑******************************************/





/*************************************项目截图*****************************************/
#turnLeft, #turnRight {
    width:200px;
    height:350px;
    float:left;
    text-align:center;
    background-color:#06b414;
    opacity:0.5;
    border-radius:3px;
}

#turnRight {
    float:right;
}

    #turnLeft img, #turnRight img {
        margin-top:150px;
        width: 40px;
        height:40px;
    }

        #turnLeft img:hover, #turnRight img:hover {
            opacity:0.3;
        }

#leftimg{
    width:150px;
    height:250px;
    border:0px solid red;
    left:200px;
    top:50px;
    background-color:#f00;
}
#midimg {
    width:300px;
    height:300px;
    border:0px solid red;
    left:350px;
    top:35px;
    background-color:#0026ff;
}
#rightimg {
    width:150px;
    height:250px;
    border:0px solid red;
    top:50px;
    left:650px;
    background-color:#ffd800;
}
#leftimg, #rightimg, #midimg {
    position:absolute;
   
}

/*编辑界面的项目截图*/
#editprojphoto {
    width:1000px;
    height:350px;
    float:left;
    background-color:white;
    position:relative;
}
#t_projphoto {
    margin:0px;
    padding:0px;
    border-collapse:collapse;
}
    #t_img div {
        width:250px;
        height:250px;
        float:left;
        margin-left:62px;
        margin-top:30px;
        /*border:1px solid red;*/
        border-radius:5px;
        background-color:#ECECEC;
    }

        #projimg1,#projimg2,#projimg3 {
            width:240px;
            height:220px;
            margin-left:5px;
            margin-top:15px
        }
#t_upload input{
    position:relative;
    height:35px;
    width:70px;
    opacity:0;
    top:0px;
    left:-70px
}
.uploadimg {
    float:left;
    height:35px;
    border:1px solid #0D4F87;
    background:#1D6BAE;
    color:white;
    border-radius:3px;width:70px;
    margin-left:150px;
    padding:0px;
}



/************************************项目截图******************************************/




/************************************项目基本信息**************************************/
#projbaseinfo,#e_projbaseinfo {
    background-color:white;
    /*border:1px solid #C0C0C0;*/
    height:214px;
    padding-top:5px;
    padding-left:10px;
    margin-left:5px;
    margin-right:5px;
}
    #projbaseinfo input {
        width:200px;
        color:#808080;
    }
    #e_projbaseinfo input{
        width:200px;
    }
 
/************************************项目基本信息*************************************/


/*************************************项目成员****************************************/
#e_projreceive,#v_projreceive{
    width:575px;
    height:80px;
    border:1px solid white;
    float:right;
    margin-top:20px;
    background-color:white;
}

    #v_projreceive textarea {
        color:#808080;
    }

    #e_projreceive textarea,#v_projreceive textarea {
        width:550px;
        height:30px;
        float:left;
        margin-left:10px;
        outline:none;
        resize:none;
    }
/*************************************项目成员****************************************/

/************************************项目简介*****************************************/
#projprofile,#e_projprofile {
    width:575px;
    height:183px;
    border:1px solid white;
    float:right;
    margin-top:5px;
    background-color:white;
}
    #projprofile textarea {
        color:#808080;
    }
    #projprofile textarea,#e_projprofile textarea {
        width:550px;
        height:120px;
        float:left;
        margin-left:10px;
        outline:none;
        resize:none;
    }
/************************************项目简介*****************************************/




/************************************项目备注*****************************************/
#projmark,#e_projmark {
    width:998px;
    height:100px;
    border:1px solid white; 
    float:left;
    margin-top:20px;
    background-color:white;
}
    #projmark textarea {       
        color:#808080;
    }
    #projmark textarea, #e_projmark textarea {
        width:950px;
        height:50px;
        margin-left:20px;
        outline:none;
        resize:none;
    }
/************************************项目备注*****************************************/



/************************************项目进度*****************************************/
#showphoto {
    width:1000px;
    height:50px;
    /*border:1px solid #C0C0C0;*/
    margin-top:10px; 
    float:left; 
    text-align:center;
    background-color:white;
}

/************************************项目进度*****************************************/