body {
    background:#ECECEC;
    font-size:12px;
}

.div-center{
    border:1px solid #d1d1d1;
    width:500px;
    height:510px;
    /*margin-left:230px;*/
    background:#fff;
    float:left
}
.divleft,.divleftone{
    border:1px solid #d1d1d1;
    background:#fff;
    width:500px;
    height:252px;
    float:left;
    margin-left:10px;
}
.divleftone {
    height:240px;
    margin-top:15px;
}
.ul-nav {
   /*border:1px solid red;*/
   height:400px;
   margin-top:0;
   list-style:none;
   margin-bottom:0px;
}
.ul-nav > li {
    border:1px solid #d1d1d1;
    margin-top:5px;
    border-right:none;
    height:27px;
    /*border:none;*/
    }

.ul-span {
    font-size: 12px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 5px;
    width: 100px;
}
.divtitle {
    /*border:1px solid #d1d1d1;*/
    width:100%;
    height:28px;
    margin-top:0px;
    background:#fff;
    border-radius:3px;
}
.divtitle button {
    float:right;
    height:28px;
    border:1px solid #0D4F87;
    background:#1D6BAE;
    color:white;
    border-radius:3px;
    width:60px;
}

.divtitle span {
     /*border:1px red solid;*/
     display:inline-block;
     font-weight:bold;
     font-size:15px;
     padding-top:7px;
     margin-left:5px;
}
.ulnav-one {
    height:160px;
}

.ulnav-one li {
    margin-top:13px;
}
.divtitleone {
    /*margin-left:230px;*/
    width:1013px;
    margin-bottom:10px;
    /*margin-top:5%;*/
}
#divguide {
    width:30%;
    height:200px;
    margin-left:2px;
    float:left;
}
#divintro {
     height:200px;
     width:340px;
     float:left;
     overflow:hidden;

}
#divintro >textarea {
        resize:none;
        border: 1px solid #bdc7d8;
        margin-left: 8px;
        font-size: 12px;
        display: inline-block;
        height:194px;
        width:326px;
        border:1px solid #d1d1d1;
    }
#nav {
     height:530px;
     width:1020px;
     margin-left:5%;
     margin-top:40px;
     margin:20px auto;
}

.divtxtbox {
    float:right;
    margin-right:90px;
    margin-top:3px;
    width:130px;
    padding:0;
}
.divtxtbox  input {
    text-align:center;
    font-size:12px;
    width:160px;
}


/*修改头像的样式*/
.divphoto {
     margin-top:20px;
     border-top: 1px solid #d8dfea;
     width:500px;
     height:300px;
     background:#ECECEC;
     opacity: 1;
     z-index: 102;
}

.divphoto-one {
     border:none;
     width:200px;
     height:300px;
     margin-left:15px;
     float:left;
}

 .title-h3 {
        border-bottom: 1px solid #d8dfea;
        margin-top: 10px;
    }
.divphoto-one > div {
         border:none;
         width:100%;
         height:256px;
         margin-top:10px;
    }
.imag {
    border:none;
    width:100%;
    height:100%;
}
.divleft-set {
     border:none;
     height:300px;
     width:261px;
     float:left;
     margin-left:20px;
}
.div-tip {
     color:#808080;
     font-size: 9pt;
}
.button  {
     position:absolute;
     width:80px;
     height:28px;
     background:#1D6BAE;
     border:1px solid #0D4F87;
     margin-top:5px;
     color:white;
}

.btnOk {
     width:80px;
     height:28px;
     background:#1D6BAE;
     border:1px solid #0D4F87;
     margin-top:5px;
     color:white;
     margin-left:100px;
}
#fileupload {
    position:relative;
    height:28px;
    width:80px;
    opacity:0;
    top:-30px
}

.mask 
{
    background-color: rgb(0, 0, 0);
    display:none;
    opacity: 0.7; /* Safari, Opera */
    -moz-opacity:0.70; /* FireFox */
    filter: alpha(opacity=70); /* IE */
    z-index: 100;
    height: 100%;
    width: 100%;
    background-repeat:repeat;
    position:absolute;
    top: 0px;
    left: 0px;
}

.center
{
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-150px;
    position:absolute;
}

#datespan {
    width:130px;
}